body {
}

#cabecera{
    height:150px;
    background-color:#FF7800;
    color:white;
    border:1px dashed #A64E06;
    box-shadow:0px 0px 10px #000;
    position:relative;
    z-index:2;
}

#contenidoCabecera{
    width:960px;
    margin:auto;
}

#barraHorizontal{
    height:40px;
    background-color:#A64E06;
    border-radius:0px 0px 10px 10px;
    box-shadow:0px 0px 10px  #000 inset;
    text-align:center;
}
  
    #barraHorizontal > ul{
        list-style:none;
        padding:0;
        padding-top:5px;
        margin:0;
    }  

     #barraHorizontal li{
        display:inline-block;
        padding:5px;
        cursor:pointer;
        background-color:#FF7800;
        color:#A54E06;
        box-shadow:0px 0px 5px #000 inset;
    }  

     #barraHorizontal a{
        text-decoration:none;
        color:#A54E06;
        display:block;
        font-weight:bold;
    }  

#logotipo{
    width:40%;
    float:left;
    text-align:center;
    margin-top:10px;
}

    #logotipo > img{
        box-shadow:0px 0px 10px #000;
    }

#titulo{
    width:60%;
    float:left;
    text-shadow:2px 2px 3px #000;
}
    #titulo > h1{
        margin-top:12px;
    }

    #titulo > h2{
        margin-bottom:0px;
    }

#bajo{
    width:960px;
    margin:auto;
    background-color:#FF7800;
    border-radius:0px 0px 20px 20px;
    overflow:auto;
}

#columnaIzq, #columnaDec{
    float:left;
    width:20%;
    min-height:500px;
}

#columnaCentro{
    float:left;
    width:60%;
    min-height:800px;
    background-color:white;
    text-align:center;
}

#pie{
    height:30px;
    background-color:#A64E06;
    border-radius:0px 0px 20px 20px;
    clear:both;
    box-shadow:0px 0px 5px #000 inset;
    color:white;
    text-align:center;
    padding-top:5px;
}

#menuContextual{
    list-style:none;
    padding:0;
    margin:50px 0;
}

    #menuContextual li{
        padding:10px;
        text-align:center;
        background-color:#A64E06;
        color:white;
        border:1px outset #FF7800;
        box-shadow:0px 0px 10px #000 inset;
    }  

     #menuContextual a{
        text-decoration:none;
        color:white;
        display:block;
        font-weight:bold;
    }  

